.form {
  width: 700px;
  background: linear-gradient(90deg,  rgba(105, 105, 105, 0.75) 0%, rgba(229, 67, 96, 0.75) 200%);
  transition: all 1s ease-in-out;
}
.form:hover{
  background: linear-gradient(90deg,  rgba(105, 105, 105, 1.0) 0%, rgba(229, 67, 96, 1.0) 200%);
  transform: scale(1.1);
}

.buttonUpdate{
background: linear-gradient(90deg,  rgba(105, 105, 105, 1.0) 0%, rgba(229, 67, 96, 1.0) 200%);
background: rgba(105, 105, 105, 0.9);
}